body {
    margin: 0;
    padding: 0;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

#h1 {
    font-family: 'Times New Roman';
    color: rgb(21, 107, 131);
    font-size:36px;
}
#h1:hover {
    font-family: cursive;
    color: rgb(21, 107, 131);
   font-size:40px;
}
h2 {
    font-family: cursive;
    color: rgb(47, 135, 173);
}
#about{
font-family: cursive;
    color: rgb(18, 63, 113);
    font-size: 18px;
   width: 70%;
margin:2%;
}

p {
    font-family: cursive;
    color: rgb(18, 63, 113);
    font-size: 18px;
}
p:hover {
    font-weight:bold;
    color: purple;
    font-size: 18px;
}

marquee{
margin-left:5%;
width:50%;
}
.blink {
            animation: blinker 1.5s linear infinite;
            color: red;
            font-family: sans-serif;
        }
        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }

.web1 {
    width: 70%;
    margin-left: 15%;
   height:80%;
}
#sing{
width:28%;
}
#sing:hover{
height:35%;
width:30%;
}
.img{
width:30%;
}
.img:hover{
width:35%;
height:50%;
}
.quiz {
    width: 63%;
    float: right;
}